/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



#CHECKER{
    position: relative;
    left:calc(50% - 10em);
    padding-top: 5em;
    width:20em;
}

#card{
    width: 9em;
}

.container{
    margin-right: 20px;
}